*{
    --primary-color:#EBEDEE;
    --secondary-color:#FF5151;
    --third-color:#137e4c93;
    --forth-color:#1F6B4C;
    --white-color:#b5dbb9de;
    /* --black-color:#000; */
    --black-color: rgb(43, 52, 69);
    transition: all 0.5s linear 0s;
    font-family: "Open Sans", "Roboto", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.5;
}

#minus{
    background-color: var(--primary-color) !important;
    color:var(--black-color);
    cursor: pointer;

}

#plus{
    background-color: var(--secondary-color) !important;
    cursor: pointer;
}
.product-price {
    margin: 0px !important;

}

.product-name{
    font-size: 30px;
    margin-bottom: 1rem;
    margin-top: 0px;
}

.product-images{
    width: 70px;
    height: 70px;
}

.font-color{
   color: var(--secondary-color) !important;
}
.secondBtn-color{
        background-color: var(--secondary-color) !important;
        border: none;
        font-weight: bold;
        cursor: pointer;
}
.full-image{
    width: 100%;
    height: 100%;
}
.nivoSlider{
    max-height: 400px !important;
}

.responsive-height{
    max-height: 400px !important;
}




