.form-group.success input,
.form-group.success .input {
    border-color: #09c372;
}

.form-group.error input,
.form-group.error .input,
.select-error {
    border-color: #ff3860;
}

.form-group .error,
.custom-error {
    color    : #ff3860;
    font-size: 12px;
    height   : 10px;
    margin-bottom: 10px;
}